<head>
  <link rel="stylesheet" href="assets/css/my-profile-style.css" />
  <link rel="stylesheet" href="assets/css/artwork_modal.css" />
  <link rel="stylesheet" href="assets/css/tutorial_modal.css" />

  <title>ArtWeb</title>
</head>

<body>

  <section id="profile" class="profile">
    <div class="profile-header">
        <img id="profilePicture" alt="Profile Picture" class="profile-picture" style="height: 150px;">

        
        <div class="profile-information">
          <span id="profileName"><strong>Firstname Lastname</strong></span>
          <br/>
          <span id="profileShortDesc">ShortDesc</span>
        </div>
    </div>

    <div class="profile-details">
      <div class="work-details">

          <h2>ABOUT ME</h2>
          <ul>
            <li><strong>Profession:</strong> <span id="profileProfession">Example Text</span></li>
            <li><strong>Age:</strong> <span id="profileAge">21</span></li>
            <li><strong>ProgrammingSkills:</strong> <span id="profileProgrammingSkills">Example Text</span></li>
            <li><strong>ArtSkills:</strong> <span id="profileArtSkills">Example Text</span></li>
            <li><strong>Info:</strong> <span id="profileInfo">Example Text</span></li>
          </ul>

          <button id="submitArtButton">Upload Art</button>

          <button id="submitTutorialButton">Create Tutorial</button>
      </div>
<!----------------------------- The ArtWork Modal----------------------------------->

      <div id="edit_art_modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="editArtForm">
                <label for="artName">Artwork Name:</label>
                <input type="text" id="artName" name="artName" required><br><br>
    
                <label for="artSkill">Art Skill:</label>
                <select id="artSkill" name="artSkill">
                    <option value="begginer">Begginer</option>
                    <option value="intermidiate">Intermidiate</option>
                    <option value="advanced">Advanced</option>
                </select><br><br>
    
                <label for="artDescription">Description:</label><br>
                <textarea id="artDescription" name="artDescription" rows="4" cols="50" required></textarea><br><br>
    
                <label for="artFilter">Filter:</label>
                <select id="artFilter" name="artFilter">
                    <option value="abstract">Abstract</option>
                    <option value="animal">Animals</option>
                    <option value="anime">Anime</option>
                    <option value="architecture">Architecture</option>
                    <option value="blender">Blender</option>
                    <option value="character_design">Character Design</option>
                    <option value="comics">Comics</option>
                    <option value="fan_art">Fan Art</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="fasion">Fasion</option>
                    <option value="horror">Horror</option>
                    <option value="portrait">Portrait</option>
                    <option value="realism">Realism</option>
                    <option value="sketch">Sketch</option>
                    <option value="still_life">Still Life</option>
                    <option value="storyboard">Storyboard</option>
                </select><br><br>
                <!----- Image from Device----->
                <label for="artImages">Image Upload:</label>
                <input type="file" id="artImages" name="artImages" accept="image/*" multiple><br><br>

    
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
  <!----------------------------- The Tutorial Modal----------------------------------->
  <div id="edit_tutorial_modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="editTutorialForm">
            <label for="tutorName">Tutorial Title:</label>
            <input type="text" id="tutorName" name="tutorName" required><br><br>
            <label for="tutorName">Tutorial By:</label>
            <input type="text" id="tutorName" name="tutorName" required><br><br>

            <label for="tutorialDescription">Description:</label><br>
            <textarea id="tutorialDescription" name="tutorialDescription" rows="4" cols="50" required></textarea><br><br>

            <label for="artWebsite">Website URL:</label>
            <input type="url" id="artWebsite" name="artWebsite" required><br><br>
            

            <button type="submit">Submit</button>
        </form>
    </div>
</div>


      <!----------------------------- The Function Tab ----------------------------------->
      <div class="work-images">
          <div class="work-tabs">
              <div class="work-tab active" onclick="openTab('artwork')">Artworks</div>
          </div>

          <!------- Artwork -------->
          <div id="profile-images">
            
            <!-- Images will be dynamically loaded here -->
          </div>
          <template id="profile-image-template">
            <div class="profile-image">
              <img class="profile-image-img" src="" alt="Profile Image"/>
            </div>
          </template>
          
      </div>
    </div>
  </section>

  <script>
    // Function to display the modal popup
    function displayModal(modalId) {
      document.getElementById(modalId).style.display = 'block';
    }
  
    document.getElementById('submitArtButton').addEventListener('click', function() {
      displayModal('edit_art_modal');
    });

    document.getElementById('submitTutorialButton').addEventListener('click', function() {
      displayModal('edit_tutorial_modal');
    });
  
    // Close the modal when the user clicks on the close button (x)
    document.querySelectorAll('.modal .close').forEach(closeButton => {
      closeButton.addEventListener('click', function() {
        const modalId = this.closest('.modal').id;
        document.getElementById(modalId).style.display = 'none';
      });
    });
  
    // Close the modal when the user clicks outside 
    window.addEventListener('click', function(event) {
      document.querySelectorAll('.modal').forEach(modal => {
        if (event.target == modal) {
          modal.style.display = 'none';
        }
      });
    });
  </script>

  

  <script>
    function openTab(tabName) {
        var i;
        var tabs = document.getElementsByClassName("work-tab");
        var contents = document.getElementsByClassName("work-content");
        for (i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("active");
            contents[i].classList.remove("active");
        }
        document.getElementById(tabName).classList.add("active");
        event.currentTarget.classList.add("active");
    }
  </script>
  <!----------------------------- The Info Grabber Script ----------------------------------->
  <!--<script>
    const currentURL = window.location.href;
    if (currentURL.includes("#view_my_profile?userProfile=1")) {
      userProfile = data[1];
    }-->
  </script>
  <script>
    fetch('assets/json/user_profile.json')
      .then(response => response.json())
      .then(data => {
        // Check to see if correct data is displayed
        console.log("Data:", data);
        const userProfile = data[0];
        console.log("User Profile:", userProfile);
        
        
        document.getElementById('profileName').innerText = `${userProfile.Firstname} ${userProfile.Lastname}`;
        document.getElementById('profileShortDesc').innerText = userProfile.ShortDesc;
        document.getElementById('profileProfession').innerText = userProfile.Profession;
        document.getElementById('profileAge').innerText = userProfile.Age;
        document.getElementById('profileProgrammingSkills').innerText = userProfile.ProgrammingSkill;
        document.getElementById('profileArtSkills').innerText = userProfile.ArtSkill;
        document.getElementById('profileInfo').innerText = userProfile.Info;
        document.getElementById('profilePicture').src = `Images/My Proffile/${userProfile["User ID"]}.png`;

        const images = userProfile.Images;
        const template = document.getElementById('profile-image-template');
        const parent = document.getElementById('profile-images');

        parent.innerHTML = '';

        images.forEach(image => {
          const clone = template.content.cloneNode(true);
          const img = clone.querySelector('.profile-image-img');
          img.src = image;
          parent.appendChild(clone);
        })
        
        /*accountData[userId].images.map(image => `/Images/${userId}/${image}`).forEach(imagePath => {
          const imageNode = document.findElementById("image-template").cloneNode();
          imageNode.findElementById("image").src = imagePath;
        })*/
      })
      .catch(error => console.error('Error fetching user profile:', error)); // Hope not
  </script>
</body>