<head>
  <style>
    .gallery {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      margin-left: 229px;
      margin-top: 95px;
    }

    .gallery a {
      height: 200px;
      width: 300px;
      margin: 15px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 3px 5px #000;
    }

    .gallery a img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .gallery a:hover {
      transform: scale(1.1);
    }
  </style>
</head>


<body>

    <!-- Discovery List -->

    <div class="discovery-menu" id="discover">

      <nav>
        <ul>
          <li> <a href="#"> <i class="bx bxs-brush"></i><span>Discover</span> </a> </li>

          <li> <a href="/assets/discovery/abstract.html" class="link"><i class="bx bxs-chevron-right"></i><span>Abstract</span></a></li>

          <li><a href="/assets/discovery/animal_wildlife.html" class="link"><i class="bx bxs-chevron-right"></i><span>Animals</span></a> </li>

          <li><a href="/assets/discovery/anime_manga.html" class="link"><i class="bx bxs-chevron-right"></i><span>Anime & Manga</span></a> </li>

          <li><a href="/assets/discovery/architecture.html" class="link"> <i class="bx bxs-chevron-right"></i><span>Architecture</span> </a></li>

          <li> <a href="/assets/discovery/blender.html" class="link"><i class="bx bxs-chevron-right"></i><span>Blender</span> </a></li>

          <li><a href="/assets/discovery/character_design.html" class="link"><i class="bx bxs-chevron-right"></i><span>Characters</span></a> </li>

          <li> <a href="/assets/discovery/comics.html" class="link"> <i class="bx bxs-chevron-right"></i><span>Comics</span> </a>  </li>

          <li><a href="/assets/discovery/fan_art.html" class="link"> <i class="bx bxs-chevron-right"></i><span>Fan Art</span>  </a> </li>

          <li><a href="/assets/discovery/fantasy.html" class="link"><i class="bx bxs-chevron-right"></i><span>Fantasy</span> </a></li>

          <li><a href="/assets/discovery/fasion_design.html" class="link"><i class="bx bxs-chevron-right"></i><span>Fasion Design</span></a> </li>

          <li> <a href="/assets/discovery/horror.html" class="link"> <i class="bx bxs-chevron-right"></i><span>Horror</span> </a></li>

          <li><a href="/assets/discovery/portrait.html" class="link">  <i class="bx bxs-chevron-right"></i><span>Portrait</span> </a> </li>

          <li><a href="/assets/discovery/realism.html" class="link"> <i class="bx bxs-chevron-right"></i><span>Realism</span> </a> </li>

          <li> <a href="/assets/discovery/sketches.html" class="link"><i class="bx bxs-chevron-right"></i><span>Sketches</span></a></li>

          <li>  <a href="/assets/discovery/still_life.html" class="link"> <i class="bx bxs-chevron-right"></i><span>Still Life</span> </a> </li>

          <li> <a href="/assets/discovery/storyboard.html" class="link"> <i class="bx bxs-chevron-right"></i><span>StoryBoard</span> </a> </li>

        </ul>
      </nav>
    </div>

  <div class="gallery">
    <a href="Images/Discover Page/Abstract/abstract_1.jpg"><img src="Images/Discover Page/Abstract/abstract_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_2.jpg"><img src="Images/Discover Page/Animals/animal_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_3.jpg"><img src="Images/Discover Page/Abstract/abstract_3.jpg" alt="" /></a>

    <a href="Images/Discover Page/Anime/anime_1.jpg"><img src="Images/Discover Page/Anime/anime_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_1.jpg"><img src="Images/Discover Page/Animals/animal_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_6.jpg"><img src="Images/Discover Page/Abstract/abstract_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_6.jpg"><img src="Images/Discover Page/Animals/animal_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_2.jpg"><img src="Images/Discover Page/Abstract/abstract_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_4.jpg"><img src="Images/Discover Page/Animals/animal_4.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_4.jpg"><img src="Images/Discover Page/Abstract/abstract_4.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_5.jpg"><img src="Images/Discover Page/Anime/anime_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_6.jpg"><img src="Images/Discover Page/Abstract/abstract_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_1.jpg"><img src="Images/Discover Page/Abstract/abstract_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_2.jpg"><img src="Images/Discover Page/Animals/animal_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_3.jpg"><img src="Images/Discover Page/Abstract/abstract_3.jpg" alt="" /></a>

    <a href="Images/Discover Page/Anime/anime_1.jpg"><img src="Images/Discover Page/Anime/anime_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_1.jpg"><img src="Images/Discover Page/Animals/animal_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_6.jpg"><img src="Images/Discover Page/Abstract/abstract_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_6.jpg"><img src="Images/Discover Page/Animals/animal_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_2.jpg"><img src="Images/Discover Page/Abstract/abstract_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_4.jpg"><img src="Images/Discover Page/Animals/animal_4.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_4.jpg"><img src="Images/Discover Page/Abstract/abstract_4.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_5.jpg"><img src="Images/Discover Page/Anime/anime_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_6.jpg"><img src="Images/Discover Page/Abstract/abstract_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_1.jpg"><img src="Images/Discover Page/Abstract/abstract_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_2.jpg"><img src="Images/Discover Page/Animals/animal_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_3.jpg"><img src="Images/Discover Page/Abstract/abstract_3.jpg" alt="" /></a>

    <a href="Images/Discover Page/Anime/anime_1.jpg"><img src="Images/Discover Page/Anime/anime_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_1.jpg"><img src="Images/Discover Page/Animals/animal_1.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_6.jpg"><img src="Images/Discover Page/Abstract/abstract_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_6.jpg"><img src="Images/Discover Page/Animals/animal_6.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_2.jpg"><img src="Images/Discover Page/Abstract/abstract_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Animals/animal_4.jpg"><img src="Images/Discover Page/Animals/animal_4.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_4.jpg"><img src="Images/Discover Page/Abstract/abstract_4.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_5.jpg"><img src="Images/Discover Page/Anime/anime_2.jpg" alt="" /></a>

    <a href="Images/Discover Page/Abstract/abstract_6.jpg"><img src="Images/Discover Page/Abstract/abstract_6.jpg" alt="" /></a>

  </div>
</body>
